<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FullName" value="Joe Bloggs"/>
    <add key="Age" value="24"/>
    <add key="DateFrom" value="2014-01-10"/>
    <add key="DateTo" value="2015-01-10"/>
    <add key="DebugMode" value="false"/>
    <add key="Blacklist" value="Peter;Jane;David;Terri"/>
    <add key="Foo" value="Glasgow"/>
    <add key="AccountNumber" value="123456"/>
    <add key="File1" value="ShoppingList.txt"/>
    <add key="File2" value="CheckList.txt"/>
    <add key="File3" value="Holidays.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="Foo" connectionString="Data Source=.;Initial Catalog=Foo;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
    <add name="DVDLibrary" connectionString="Data Source=.;Initial Catalog=movies;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
    <add name="Employees" connectionString="Data Source=.;Initial Catalog=CompanyDB;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>